<div>
    <div>
        <button type="button" class="btn btn-primary" data-target="#loginFrom" data-toggle="modal">thêm mới địa điểm</button>
        <div class="modal fade" id="loginFrom" %> tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">tạo mới địa điểm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" method="post" action=<%=url +'/adminlocation' %> >
                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">tên địa điểm</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-users fa"
                                                aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="nameLocation" id="nameLocation"
                                            placeholder="Enter your Username" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">mô tả</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa"
                                                    aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="description" id="description"
                                                placeholder="Enter your Name" />
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group ">
                                <button type="submit"
                                    class="btn btn-primary btn-lg btn-block login-button">thêm </button>
                            </div>    
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">người tạo địa điểm</th>
                <th scope="col">tên địa điểm</th>
                <th scope="col">mô tả địa điểm</th>
            </tr>
        </thead>
        <tbody>
            <% location.forEach(function(locationdetail){ %>
            <tr>
                <th><%= locationdetail.createBy; %></th>
                <th><%= locationdetail.nameLocation; %></th>
                <th><%= locationdetail.description.slice(0, 40)+'....'; %></th>
                <th>
                    <button type="button" class="btn btn-primary" data-target=<%="#"+locationdetail.nameLocation %>
                        data-toggle="modal">cập nhật</button>
                    <div class="modal fade" id=<%=locationdetail.nameLocation; %> tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">chi tiết địa điểm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action=<%= url + '/adminlocation/updateLocation'; %> method="post">
                                        <div>
                                            <i class="fas fa-lock prefix"></i>
                                            <label for="form14" class="">tên địa điểm</label>
                                            <input type="username" name="nameLocation" class="form-control form-control-sm"
                                             value=<%=locationdetail.nameLocation  %> >
                                        </div>
                                        <div>
                                            <i class="fas fa-lock prefix"></i>
                                            <label for="form5">mô tả địa điểm</label>
                                            <input type="text" name="description" value=<%=locationdetail.description  %>
                                                class="form-control form-control-sm">
                                        </div>
                                        <div>
                                            <i class="fas fa-lock prefix"></i>
                                            <input type="hidden" name="_id" value=<%=locationdetail._id %> >
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-info waves-effect waves-light">cập nhật
                                                <i class="fas fa-sign-in ml-1"></i>
                                            </button>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <form action=<%=url +'/adminlocation/updateLocation' %> method="post">
                        <div>
                            <input type="hidden" name="isDelete" value="true">
                            <input type="hidden" name="_id" value=<%=locationdetail._id; %> >
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary"> Xóa </button>
                        </div>
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#haha').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)

            })
        });
    </script>