<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href=<%=url + "/vendor/mdi-font/css/material-design-iconic-font.min.css" %> rel="stylesheet" media="all">
    <link href=<%=url + "/vendor/font-awesome-4.7/css/font-awesome.min.css" %> rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href=<%=url+"/vendor/select2/select2.min.css"  %> rel="stylesheet" media="all">
    <link href=<%=url+"/vendor/datepicker/daterangepicker.css" %> rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href=<%= url+"/vendor/main.css" %> rel="stylesheet" media="all">
    <script src=<%= url+"/vendor/jquery/jquery.min.js" %> ></script>
    <!-- Vendor JS-->
    <script src=<%= url+"/vendor/select2/select2.min.js" %> ></script>
    <script src=<%= url+"/vendor/datepicker/moment.min.js" %> ></script>
    <script src=<%= url+"/vendor/datepicker/daterangepicker.js" %>></script>
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng Ký</h2>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">username</label>
                                    <input class="input--style-4" type="text" id="username" required="required" >
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">password</label>
                                    <input class="input--style-4" type="text" id="password">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">sinh nhật</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" id="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">mục đích đăng kí</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">khách du lịch
                                            <input type="radio" checked="checked" name="role" value="customer">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">người dẫn tour
                                            <input type="radio" name="role" value="tourguide" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" id="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">số điện thoại liên hệ</label>
                                    <input class="input--style-4" type="text" id="phone">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit" id="submit" >Xác nhận</button>
                        </div>
                        <div class="p-t-15">
                            <a type="button" style="font-size: large;" href=<%= url+"/users/login" %> > Đăng nhâp</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#submit').click(()=>{
                let birthday = $("#birthday").val();
                birthday= new Date(birthday);
                const role = $("input[name='role']:checked").val();
                const username = $("#username").val();
                const phone = $('#phone').val();
                const email = $('#email').val();
                const password = $('#password').val();
                if(!birthday || !username || !password || !phone || !email ){
                    alert('bạn cần nhập đầy đủ các trường');
                }else{
                    const body = { email, password,role,username,phone,birthday};
                    console.log(body);
				    $.ajax({
          		    type: "POST",
          		    url: "http://localhost:3000/users/register",
          		    data: body,
          		    success: function (data) {
                    const user = JSON.parse(data);
                    console.log(user);
					    window.location.replace("http://localhost:3000/users/login");
          		    },
          		    error: function (err, message) {
				    const errMess = JSON.parse(err.responseText);
            		alert(errMess.message);
          			}
        		});
                }
            })
        })
    </script>
    <script>
        (function ($) {
    'use strict';
    /*==================================================================
        [ Daterangepicker ]*/
    try {
        $('.js-datepicker').daterangepicker({
            "singleDatePicker": true,
            "showDropdowns": true,
            "autoUpdateInput": false,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
    
        var myCalendar = $('.js-datepicker');
        var isClick = 0;
    
        $(window).on('click',function(){
            isClick = 0;
        });
    
        $(myCalendar).on('apply.daterangepicker',function(ev, picker){
            isClick = 0;
            $(this).val(picker.startDate.format('DD/MM/YYYY'));
    
        });
    
        $('.js-btn-calendar').on('click',function(e){
            e.stopPropagation();
    
            if(isClick === 1) isClick = 0;
            else if(isClick === 0) isClick = 1;
    
            if (isClick === 1) {
                myCalendar.focus();
            }
        });
    
        $(myCalendar).on('click',function(e){
            e.stopPropagation();
            isClick = 1;
        });
    
        $('.daterangepicker').on('click',function(e){
            e.stopPropagation();
        });
    
    
    } catch(er) {console.log(er);}
    /*[ Select 2 Config ]
        ===========================================================*/
    
    try {
        var selectSimple = $('.js-select-simple');
    
        selectSimple.each(function () {
            var that = $(this);
            var selectBox = that.find('select');
            var selectDropdown = that.find('.select-dropdown');
            selectBox.select2({
                dropdownParent: selectDropdown
            });
        });
    
    } catch (err) {
        console.log(err);
    }
    

})(jQuery);
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->