<hr style="margin-left: auto;
margin-right: auto;margin-top: 0.5em;
  margin-bottom: 0.5em;border-width: 3px; "> 
<div>
    <div>
            <a type="submit" class="btn btn-primary" href=<%=url+"/adminPost/newpost" %> > thêm mới bài đăng</a>   
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">trạng thái</th>
                <th scope="col">tên bài dăng</th>
                <th scope="col">vị trí </th>
                <th scope="col">giá </th>
                <th scope="col">hình ảnh </th>
            </tr>
        </thead>
        <tbody>
            <% let i = 0 %>
            <% post.forEach(function(iteam){ %>
            <tr>

                <th id="status"><%= iteam.status %></th>
                <th style="width: 300px;"><p name="" id="" cols="20" rows="2"><%= iteam.name; %></p></th>
                <th><%= iteam.localtionID.nameLocation; %></th>
                <th><%= iteam.price %></th>
                <th><img src=<%=url+'/'+iteam.image[0]; %> height="200px" width="200px" /></th>

                <th id="data">
                    <a type="submit" class="btn btn-primary" href=<%=url+"/adminPost/updatePost/"+iteam._id %> > chi tiết bài đăng </a>
    </div>
        </th>
</tr>
<% }) %>
</tbody>
</table>
<script>
   
    $(document).ready(function () {
        $('.btn btn-info-mo').click(function () {
            let data = [];
            const _this = $(this);
            $(this).closest('tr').find('.body').each(function () {
                data.push($(this).val())
            });
            const body = {
                _id: data[0],
                status: 'ACTIVE'
            };
            console.log(body);
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/adminPost/update",
                data: body,
                success: function (data) {
                    console.log(data.status);
                    _this.closest('tr').find('#status').text(data.status);
                    alert('Success! bạn đã chấp nhận tour thành công');
                },
                error: function (err, message) {
                    //show error message
                    console.log(err.responseJSON.message, "huhuhu", err.responseText, "haha");
                    alert('text status ' + ', err ' + err.responseJSON.message)
                }
            });
        })
    })
</script>