<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
            <div class="single-slider owl-carousel owl-loaded owl-drag">

              <div class="owl-stage-outer">
                
                  <div class="owl-item " style="width: 730px;">
                    <div class="item owl-item" style="width: 730px;">
                      <img src=<%=url+post.image[0] %> alt="1">
                    </div>
                  </div>
              </div>

            </div>
          </div>
          <div class="col-md-12 room-single mt-4 mb-5 ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4"><%=post.name%> <span>- (<%=post.tourGuideID.username %>)</span></h2>
            <p><%=post.content%></p>
            <div class="d-md-flex mt-5 mb-5">
              <ul class="list">
                <div>
                  <li style="font-size: larger;"><b>Địa điểm: </b><%=post.localtionID.nameLocation%> </li>
                </div>
                <div>
                  <textarea id="descriptionHTML" hidden ><%=post.description %></textarea>
                  <li style="font-size: larger;" ><b>Mô tả: </b><div id="description"></div> </li>
                </div>
                <textarea id="planHTML" hidden ><%=post.plan %></textarea>
                <li style="font-size: larger;" ><b>Kế hoạch: </b> <div id="plan"></div> </li>
                <li style="font-size: larger;" ><b>Giá tiền : </b><%=post.price%> VNĐ/ người/ ngày </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 room-single ftco-animate mb-5 mt-4 fadeInUp ftco-animated">
            <h3 class="mb-4">Xem các hình ảnh về tour</h3>
            <div class="block-16">
              <figure>
                <img src="images/room-4.jpg" alt="Image placeholder" class="img-fluid">
              </figure>
            </div>
          </div>

          <div class="col-md-12 properties-single ftco-animate mb-5 mt-4 fadeInUp ftco-animated">
            <h4 class="mb-4">Đánh Giá</h4>
            <div class="row">
              <div class="col-md-6">
                <form method="post" class="star-rating">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                      <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                            class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 5 Sao</span></p>
                    </label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                      <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                            class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i> 4 Sao</span></p>
                    </label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                      <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                            class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 3 Sao</span>
                      </p>
                    </label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                      <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                            class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 2 Sao</span>
                      </p>
                    </label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                      <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i
                            class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 1 Sao</span>
                      </p>
                    </label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 sidebar ftco-animate fadeInUp ftco-animated">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon ion-ios-search"></span>
              <input type="text" class="form-control" placeholder="Tìm Kiếm...">
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <div class="categories">
            <h3>Đặt Tour</h3>

            <li >số lượng người đi : &nbsp; <span><input type="number" class="book" id="people" name="NumOfPeople" value=1
                  placeholder="1"></span></li>
            <input type="hidden" name="postID" class="book" value=<%=post._id %>>
            <% if(user != null){ %>
            <input type="hidden" name="CreateBy" class="book" value=<%=user._id %>>
            <%}%>
            <input type="hidden" name="price" class="book" value=<%=post.price %> <li> Giá : <span
                id="price"><%=post.price %>
              </span></li>
            <li> ngày bắt đầu : <span><input class="form-control book" type="date" name="startDay" value="2011-08-19"
                  id="example-date-input"></span></li>

            <li> ngày kết thúc : <span><input class="form-control book" type="date" name="endDay" value="2011-08-18"
                  id="example-date-input"></span>
              <input type="hidden" name="postID" class="book" value=<%=post.tourGuideID._id %>> </li>

              <br>
            <button type="button" class="btn btn-info" id="book">Xác nhận</button>
          </div>
        </div>
        <br>
        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <h3>Ghi Chú</h3>
          <div class="tagcloud">

            <textarea name="" id="" cols="40" rows="5"></textarea>
          </div>
        </div>

        <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
          <h3>Trích dẫn</h3>
          <p>Trong cuộc sống có rất nhiều việc bạn không muốn làm nhưng không thể không làm, đây chính là trách nhiệm;
            trong cuộc sống có rất nhiều việc bạn muốn làm nhưng không thể làm, đây chính là vận mệnh.</p>
        </div>
        <div>
          <b>Bình luận</b>
          <textarea cols="60" rows="3" placeholder="Hảy để lại bình luận của bạn về bài đăng này" id="comment"></textarea>
          <button type="button" class="btn btn-info" style="margin-top: 25px;" id="btnComment" >Bình luận</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#people').change(function () {
        let price = $(this).val() + $('#price');

      })
      $('#plan').html($('#planHTML').val());
      $('#description').html($('#descriptionHTML').val());
      $('#btnComment').click(()=>{
        const formData = new FormData();
        const comment = $('#comment').val();
        if(comment === ""){
          alert('bạn phải nhập nội dung bình luận');
        }else{
          formData.append('comment',comment);
          $.ajax({
          type: "POST",
          url: "",
          data: formData,
          success: function (data) {
            console.log(data);
            alert('bình luận thành công!');
          },
          error: function (err, message) {
            //show error message
            console.log(err.responseJSON.message, "huhuhu", err.responseText, "haha");
            alert('text status ' + ', err ' + err.responseJSON.message)
          }
        });
        }
      })
      $('#book').click(function () {
        let data = [];
        $('.book').each(function () {
          data.push($(this).val());
        })
        console.log(data);
        const body = { postID: data[1], CreateBy: data[2], NumOfPeople: data[0], price: data[3], startDay: data[4], endDay: data[5], tourguider: data[6] }
        console.log(body);
        $.ajax({
          type: "POST",
          url: "http://localhost:3000/booking",
          data: body,
          success: function (data) {
            //show content
            console.log(data);
            alert('Success!', data.mess, data.data)
          },
          error: function (err, message) {
            //show error message
            console.log(err.responseJSON.message, "huhuhu", err.responseText, "haha");
            alert('text status ' + ', err ' + err.responseJSON.message)
          }
        });

      })
    });
  </script>
</section>